﻿#loading_spinner {
	height: 100%;
	left: 0px;
	position: fixed;
	_position: absolute;
	top: 0px;
	width: 100%;
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	opacity: 0.5;
	display: none;
}

.loading {
	background-color: white;
	z-index: 19999;
}

#loading_img {
	/*display: none;*/
	position: absolute;
	top: 50%;
	left: 50%;
	height: 32px;
	margin-top: -32px; /*이미지크기*/
	margin-left: -32px; /*이미지크기*/
	z-index: 20000;
}

.numberOnly, .spinner {
	text-align: right;
}
