﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="SaleTabs.ascx.cs" Inherits="Include_SaleTabs" %>

	<ul class="nav nav-pills" style="margin-bottom: 20px;">
		<asp:Literal ID="litTabList" runat="server"></asp:Literal>
	</ul>