﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="StoreTabs.ascx.cs" Inherits="Include_StoreTabs" %>

	<ul class="nav nav-tabs" style="margin-bottom: 20px;">
		<asp:Literal ID="litTabList" runat="server"></asp:Literal>
	</ul>